# Setup for doing inference

# Client Side

In [1]:
# # **************** UNCOMMENT AND RUN THIS CELL IF YOU NEED TO INSTALL/ UPGRADE TSAI ****************
#stable = True # Set to True for latest pip version or False for main branch in GitHub
#!pip install {"tsai -U" if stable else "git+https://github.com/timeseriesAI/tsai.git"} >> /dev/null

In [5]:
import pandas as pd

In [6]:
new_df = pd.read_csv('cex4WindDataInterpolated.csv')
new_df['t'] = pd.to_datetime(new_df['t'])

fcst_date = "2003-01-01"
fcst_history = 104
freq = '24H'
datetime_col = "t"

dates = pd.date_range(start=None, end=fcst_date, periods=fcst_history, freq=freq)
dates

DatetimeIndex(['2002-09-20', '2002-09-21', '2002-09-22', '2002-09-23',
               '2002-09-24', '2002-09-25', '2002-09-26', '2002-09-27',
               '2002-09-28', '2002-09-29',
               ...
               '2002-12-23', '2002-12-24', '2002-12-25', '2002-12-26',
               '2002-12-27', '2002-12-28', '2002-12-29', '2002-12-30',
               '2002-12-31', '2003-01-01'],
              dtype='datetime64[ns]', length=104, freq='24H')

In [7]:
new_df = new_df[new_df[datetime_col].isin(dates)].reset_index(drop=True)
new_df

,t,toy,p,Ws1,Wd1,T1,Ws2,Wd2,T2,Ws3,Wd3,T3
0,2002-09-20,262.0,1.075,9.0,283.4,286.000000,9.0,283.4,286.000,9.0,283.4,286.000000
1,2002-09-21,263.0,NaN,3.8,82.5,285.200000,3.8,82.5,285.200,3.8,82.5,285.200000
2,2002-09-22,264.0,NaN,4.3,96.6,283.300000,4.3,96.6,283.300,4.3,96.6,283.300000
3,2002-09-23,265.0,1.933,8.8,51.9,283.142857,8.8,51.2,283.475,8.6,50.9,283.533333
4,2002-09-24,266.0,4.770,7.5,270.8,284.600000,7.5,270.8,284.600,7.5,270.8,284.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
99,2002-12-28,361.0,7.365,11.7,121.4,275.400000,11.7,121.4,275.400,11.7,121.4,275.400000
100,2002-12-29,362.0,NaN,5.4,27.5,273.300000,5.4,27.5,273.300,5.4,27.5,273.300000
101,2002-12-30,363.0,NaN,10.8,57.0,269.700000,10.8,57.0,269.700,10.8,57.0,269.700000
102,2002-12-31,364.0,NaN,9.7,74.4,265.700000,9.7,74.4,265.700,9.7,74.4,265.700000
103,2003-01-01,0.0,NaN,9.0,213.2,268.000000,9.0,213.2,268.000,9.0,213.2,268.000000

# Serverless Function

In [2]:
import sklearn
from tsai.basics import *
my_setup(sklearn)

os              : Linux-5.15.49-linuxkit-aarch64-with-glibc2.36
python          : 3.11.5
tsai            : 0.3.8
fastai          : 2.7.13
fastcore        : 1.5.29
sklearn         : 1.3.2
torch           : 2.1.2
device          : cpu
cpu cores       : 5
threads per cpu : 1
RAM             : 7.76 GB
GPU memory      : N/A

In [8]:
# Check for same versions! (training and inference)
from tsai.inference import load_learner

preproc_pipe = load_object('data/preproc_pipe.pkl')
exp_pipe = load_object('data/exp_pipe.pkl')

learn = load_learner("models/patchTST.pt")
filtered_df = learn.transform(new_df)
filtered_df

Initial memory usage: 9.88 KB
Final memory usage  : 5.41 KB    (-45.2%)

,t,toy,p,Ws1,Wd1,T1,Ws2,Wd2,T2,Ws3,Wd3,T3
0,2002-09-20,0.940348,-0.626848,0.256933,0.962407,1.071027,0.256976,0.962111,1.070988,0.257288,0.965442,1.070879
1,2002-09-21,0.949947,-0.626848,-1.026068,-1.280310,0.919713,-1.026170,-1.280316,0.919711,-1.025967,-1.274778,0.919606
2,2002-09-22,0.959545,-0.626848,-0.902702,-1.122907,0.560334,-0.902790,-1.122933,0.560418,-0.902577,-1.117550,0.560322
3,2002-09-23,0.969144,-0.468315,0.207587,-1.621908,0.530613,0.207624,-1.629683,0.593514,0.158576,-1.627148,0.604445
4,2002-09-24,0.978742,0.055878,-0.113164,0.821749,0.806225,-0.113162,0.821471,0.806251,-0.112882,0.824940,0.806148
...,...,...,...,...,...,...,...,...,...,...,...,...
99,2002-12-28,1.890608,0.535356,0.923106,-0.846056,-0.933907,0.923225,-0.846118,-0.933463,0.923593,-0.841007,-0.933519
100,2002-12-29,1.900207,0.535356,-0.631298,-1.894294,-1.331112,-0.631356,-1.894221,-1.330573,-0.631119,-1.888079,-1.330617
101,2002-12-30,1.909806,0.535356,0.701048,-1.564975,-2.012028,0.701142,-1.564944,-2.011325,0.701492,-1.559127,-2.011351
102,2002-12-31,1.919404,0.535356,0.429644,-1.370733,-2.768606,0.429707,-1.370727,-2.767721,0.430034,-1.365101,-2.767727
103,2003-01-01,-1.574483,0.535356,0.256933,0.178740,-2.333576,0.256976,0.178545,-2.332796,0.257288,0.182647,-2.332813

In [17]:
from tsai.basics import *
x_vars = new_df.columns[1:]
y_vars = new_df.columns[1:]
new_X, _ = prepare_forecasting_data(filtered_df, fcst_history=104, fcst_horizon=0, x_vars=x_vars, y_vars=None)
new_X.shape

(1, 11, 104)

In [18]:
new_scaled_preds, *_ = learn.get_X_preds(new_X)

In [19]:
fcst_horizon = 60

new_scaled_preds = to_np(new_scaled_preds).swapaxes(1,2).reshape(-1, len(y_vars))
dates = pd.date_range(start=fcst_date, periods=fcst_horizon + 1, freq='7D')[1:]
preds_df = pd.DataFrame(dates, columns=[datetime_col])
preds_df.loc[:, y_vars] = new_scaled_preds
preds_df = learn.inverse_transform(preds_df)
preds_df

,t,toy,p,Ws1,Wd1,T1,Ws2,Wd2,T2,Ws3,Wd3,T3
0,2003-01-08,328.023254,3.948730,8.272989,111.260529,271.557739,8.272989,111.241608,271.564514,8.268640,111.233467,271.565704
1,2003-01-15,328.682587,4.807099,8.779745,95.376030,271.935638,8.779745,95.374283,271.936523,8.779709,95.373466,271.936676
2,2003-01-22,323.508545,5.353201,9.195480,111.002213,272.477173,9.195480,110.995934,272.481079,9.193743,110.993210,272.481750
3,2003-01-29,328.253479,4.580859,8.580874,126.019501,272.589966,8.580875,126.008232,272.597351,8.578636,126.003387,272.598663
4,2003-02-05,330.052765,4.639828,8.445001,123.780159,273.345215,8.445001,123.767601,273.352234,8.442806,123.762207,273.353455
5,2003-02-12,339.481293,5.039964,9.344320,128.870087,272.127075,9.344320,128.870789,272.125366,9.345852,128.871048,272.125061
6,2003-02-19,337.864990,4.086117,8.579801,117.066032,271.551971,8.579802,117.064873,271.551941,8.580777,117.064339,271.551941
7,2003-02-26,343.374939,4.030464,8.760872,106.116394,271.282593,8.760872,106.104332,271.288483,8.758610,106.099075,271.289520
8,2003-03-05,341.039307,4.968817,9.288982,124.828400,272.172668,9.288982,124.820946,272.174286,9.288424,124.817749,272.174561
9,2003-03-12,349.418457,4.163606,9.116268,110.345856,270.580872,9.116268,110.337593,270.585999,9.114528,110.334038,270.586914
10,2003-03-19,342.094421,3.383173,8.349272,102.114693,270.357666,8.349272,102.106407,270.360504,8.348630,102.102821,270.360992
11,2003-03-26,337.102081,4.755683,9.391191,116.703644,271.683624,9.391191,116.700630,271.688080,9.391359,116.699310,271.688873
12,2003-04-02,343.267609,4.189510,8.894665,116.855553,271.854675,8.894665,116.830048,271.867126,8.888915,116.819138,271.869293
13,2003-04-09,336.652527,4.495228,8.629788,101.797318,271.377899,8.629787,101.789154,271.382416,8.627522,101.785614,271.383240
14,2003-04-16,333.486389,3.666671,8.660076,117.467262,271.908417,8.660076,117.455475,271.914856,8.657478,117.450386,271.915985
15,2003-04-23,347.220764,3.781032,9.277221,106.096565,271.548889,9.277220,106.107788,271.544342,9.281133,106.112602,271.543549
16,2003-04-30,337.228210,3.602224,8.903411,75.542015,270.325226,8.903411,75.531967,270.329010,8.901514,75.527626,270.329681
17,2003-05-07,343.899353,4.365849,8.932339,91.627182,270.994598,8.932339,91.632538,270.992279,8.934840,91.634804,270.991852
18,2003-05-14,345.342621,4.854178,8.736525,89.449501,270.722443,8.736525,89.437782,270.727417,8.733865,89.432709,270.728302
19,2003-05-21,345.320648,4.241273,8.641167,108.879967,271.877350,8.641167,108.863129,271.883728,8.637521,108.855904,271.884827
20,2003-05-28,334.117035,5.188410,9.379001,102.356110,271.545471,9.379001,102.333450,271.555237,9.373588,102.323799,271.556946
21,2003-06-04,339.548523,4.637761,8.921436,114.657890,271.765228,8.921435,114.647217,271.769409,8.919212,114.642616,271.770142
22,2003-06-11,332.631287,3.510561,8.246085,105.971649,271.568176,8.246086,105.968193,271.569855,8.245478,105.966637,271.570129
23,2003-06-18,345.958374,3.731721,9.111979,82.305534,269.746582,9.111979,82.286369,269.754303,9.107442,82.278152,269.755676
24,2003-06-25,346.058838,4.589062,8.653417,95.627640,271.694244,8.653417,95.619667,271.696808,8.651384,95.616119,271.697266
25,2003-07-02,344.979614,3.508605,8.143947,94.053207,270.977783,8.143947,94.045876,270.981720,8.142305,94.042717,270.982422
26,2003-07-09,336.396942,4.574305,8.756809,112.795341,272.360382,8.756809,112.777405,272.365662,8.753117,112.769699,272.366577
27,2003-07-16,339.136230,4.654036,8.924128,114.588455,271.844147,8.924128,114.574333,271.848358,8.921600,114.568199,271.849091
28,2003-07-23,340.178589,4.471502,8.425617,92.046074,272.680450,8.425617,92.030136,272.687286,8.422556,92.023308,272.688507
29,2003-07-30,331.586182,4.511561,8.405269,110.077171,272.699768,8.405269,110.060623,272.707062,8.401637,110.053505,272.708313
30,2003-08-06,345.048737,4.253535,8.196739,126.850357,271.015808,8.196739,126.844536,271.016724,8.196233,126.841995,271.016907
31,2003-08-13,341.590515,4.098632,8.010637,119.177536,273.199463,8.010637,119.162521,273.207367,8.007591,119.156044,273.208771
32,2003-08-20,344.924377,3.710258,8.226553,127.975815,271.226013,8.226552,127.963776,271.229919,8.224401,127.958595,271.230591
33,2003-08-27,342.554077,4.574361,8.661128,113.920532,271.172424,8.661127,113.915649,271.173126,8.660558,113.913551,271.173279
34,2003-09-03,338.023285,4.296277,8.384326,117.582764,271.496887,8.384326,117.576797,271.499878,8.382440,117.574219,271.500427
35,2003-09-10,343.579590,3.241193,8.183989,120.089378,271.175903,8.183989,120.078621,271.180481,8.181234,120.073997,271.181274
36,2003-09-17,338.295166,4.397931,9.026970,122.803551,271.621613,9.026970,122.784897,271.628082,9.023083,122.776848,271.629211
37,2003-09-24,336.081512,4.187850,8.902705,141.655609,271.622375,8.902704,141.642075,271.628540,8.899219,141.636246,271.629639
38,2003-10-01,337.350159,4.575402,8.900328,124.800705,272.269409,8.900327,124.798958,272.270599,8.900387,124.798172,272.270813
39,2003-10-08,335.230560,4.642957,9.323388,139.615677,272.471924,9.323388,139.610382,272.474396,9.322103,139.608093,272.474823
40,2003-10-15,339.061432,4.840171,8.949613,124.299957,272.025024,8.949612,124.294853,272.026550,8.949521,124.292679,272.026794
41,2003-10-22,338.483337,4.365001,8.804210,133.104584,272.561188,8.804210,133.095947,272.561859,8.801824,133.092194,272.561981
42,2003-10-29,331.488037,5.088469,9.205271,104.654861,271.738708,9.205270,104.642586,271.741852,9.202423,104.637283,271.742401
43,2003-11-05,339.052490,5.493700,9.656141,98.346359,270.892365,9.656141,98.333572,270.897614,9.652851,98.328064,270.898529
44,2003-11-12,342.958252,4.591806,8.909063,108.586769,271.066467,8.909063,108.588737,271.067413,8.910579,108.589569,271.067596
45,2003-11-19,341.569885,4.760677,8.507395,96.811302,270.653503,8.507395,96.807289,270.653931,8.507612,96.805580,270.653992
46,2003-11-26,335.114075,3.901222,7.618935,73.839821,270.821838,7.618934,73.822327,270.830994,7.614520,73.814857,270.832581
47,2003-12-03,337.023315,3.608892,8.030370,90.461433,270.772369,8.030370,90.455345,270.775299,8.029241,90.452728,270.775818
48,2003-12-10,331.957458,4.382113,8.512909,104.461006,271.142914,8.512909,104.456734,271.146027,8.512354,104.454880,271.146576
49,2003-12-17,332.349548,4.186760,8.551595,85.771095,270.304352,8.551595,85.759621,270.308350,8.548111,85.754745,270.309052
50,2003-12-24,342.263062,3.229491,7.667155,99.104553,270.358154,7.667155,99.097404,270.361237,7.666404,99.094337,270.361786
51,2003-12-31,335.896301,2.950326,7.237762,90.555847,271.943176,7.237761,90.544968,271.948334,7.236460,90.540283,271.949249
52,2004-01-07,343.491089,3.857779,8.409824,113.994469,271.736969,8.409824,113.969086,271.747620,8.403930,113.958183,271.749512
53,2004-01-14,333.418610,3.440424,7.982267,107.008583,271.811096,7.982267,106.991760,271.816650,7.977895,106.984482,271.817627
54,2004-01-21,338.853424,3.904725,8.230492,108.166695,271.629089,8.230492,108.139160,271.642944,8.223845,108.127312,271.645386
55,2004-01-28,340.613953,3.580571,7.829357,99.529655,271.629883,7.829357,99.498131,271.643982,7.821555,99.484619,271.646484
56,2004-02-04,328.972504,4.184959,8.327645,114.290291,271.830109,8.327644,114.267288,271.836884,8.322778,114.257355,271.838104
57,2004-02-11,331.996338,3.595509,8.212062,97.244873,270.560883,8.212062,97.224098,270.568604,8.206722,97.215164,270.569977
58,2004-02-18,330.976196,3.806130,8.507037,92.973694,270.977417,8.507036,92.955757,270.988129,8.501674,92.948097,270.990021
59,2004-02-25,338.491882,4.698778,8.765749,135.280350,272.344635,8.765749,135.264542,272.350159,8.761950,135.257736,272.351135

# FastAPI